.homeContainer {
  display: flex;
  flex-direction: column; /* éléments empilés */
  justify-content: center; /* centre verticalement */
  align-items: center; /* centre horizontalement */
  text-align: center; /* centre le texte */
  height: 100%; /* prend toute la hauteur de l'écran */
  width: 100%;
  box-sizing: border-box;
  gap: 1.5rem; /* espace entre les éléments */
}
.homeTitle {
  margin-top: clamp(2rem, 10vh, 6rem);
  font-size: clamp(1rem, 10vw, 3rem);
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
}

.homeImage {
  width: 100%;
  max-width: 350px;
  height: auto;
}