.homeContainer {
  display: flex;
  flex-direction: column; /* éléments empilés */
  justify-content: center; /* centre verticalement */
  align-items: center; /* centre horizontalement */
  text-align: center; /* centre le texte */
  height: 100vh; /* prend toute la hauteur de l'écran */
  width: 100%;
  box-sizing: border-box;
  gap: 1.5rem; /* espace entre les éléments */
}
.homeTitle {
  font-size: clamp(1rem, 10vw, 3rem);
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
}

.homeImage {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.homeButton {
  padding: 0.8rem 1.6rem;
  font-size: clamp(1rem, 5vw, 3rem);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: var(--primary-color);
  color: white;
  transition: background 0.2s ease;
}

.homeButton:Disabled {
  background: var(--quaternary-color);
  opacity: 0.5;
  cursor: not-allowed;
}
